body{
    background-color: aquamarine;
}


.contenedor{
    border: 1px solid black;
    margin: 10rem auto;
    width: 30%;
    height: 350px;
    max-width: 960px;
    background-color: white;
    
}



.cabezal{
    background-color: yellow;
    display: block;
}

.imagenportada{
    width: 10%;
}

