body{
    background-color: rgb(235, 234, 234);
}

main{
    height: 400px;
    width: 70%;
    margin: 15% auto;
    max-width: 960px;
    min-width: 390px;
    display: flex;
    
}
.section1{
    width: 100%;
    background-color: hsl(31, 77%, 52%);

}
.section2{
    width: 100%;
    background-color: hsl(184, 100%, 22%);
}
.section3{
    width: 100%;
    background-color: hsl(179, 100%, 13%);
}



.card{
    
    width: 65%;
    margin: 25% auto;
    height: 270px
}

.card img{

}


.card h1{
    
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 27px;
}

.card p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
}



.boton{

    
}
.card button{
    background-color: hsl(0, 0%, 95%);
    
    width: 80%;
    height: 41px;
    border: none;
    border-radius: 3rem;
    cursor: pointer;    
}
